@{
    ViewBag.Title = "Vidly";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is a cinema app</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Vidly will launch popular movies, and registered customers will get discount on those movies
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Movie Information</h2>
        <p>please contact us for movies that are not launched in this website, and we will get the movies for you as soon as possible</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Fill the Form &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer Infomation</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
       
    </div>
</div>